section {
    display: flex;
    justify-content: center;
    flex-direction: row;

    article {
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;

        h2 {
            margin: 10px;
        }

        div {
            display: flex;

            justify-content: center;

            b {
                margin: 5px;
            }
        }
    }
}
